<div class="widget_wrap" style="
  top: {{y}}px;
  left: {{x}}px;
  {% if width != -1 %}width: {{width}}px;{% end %}
  {% if height != -1 %}height: {{height}}px;{% end %}
  ">

  <div class="widget_body" data-id="content" data-type="{{widget_type}}"
    data-map="title: {{tooltip}}"
    style="width: 100%;
           height: 100%;
           text-align: {{horizontal_alignment}};
           vertical-align: {{vertical_alignment}};
           background-color: rgb({{background_color.red}},{{background_color.green}},{{background_color.blue}});
           {% if not wrap_words %}white-space: nowrap;{% end %}
          ">
    <span>{{text}}</span>
  </div>
</div>
