<div data-pv="{{pv_name}}" class="widget_wrap" style="
  top: {{y}}px;
  left: {{x}}px;
  width: {{width}}px;
  height: {{height}}px;">

  <style scoped>
    {% if border_width > 0 and border_style.index != 0 %}
    .border{{unique_id}}_0 {
      padding: {{max(0, 2-border_width)}}px;
      border-width: {{border_width}}px;
      {% if border_style.index == 0 %}
      border-style: {{border_style}};
      border-color: transparent;
      {% else %}
      border-style: solid;
      border-color: rgb({{border_color.red}},{{border_color.green}},{{border_color.blue}});
      {% end %}

    }
    .border{{unique_id}}_1 {
      padding: {{max(0, border_width-2)}}px;
    }
    .border{{unique_id}}_2 {
      padding: {{max(0, border_width-2)}}px;
    }
    .border{{unique_id}}_3 {
      padding: {{max(0, border_width-2)}}px;
    }
    {% end %}

    .button{{unique_id}}_on {
      box-shadow: rgb(155, 155, 155) 1px 1px 1px 1px inset;
    }
    .button{{unique_id}}_on:after {
      content: "{{on_label}}";
    }
    .button{{unique_id}}_off {
      box-shadow: none;
    }
    .button{{unique_id}}_off:after {
      content: "{{off_label}}";
    }
    .led{{unique_id}}_on {
      background-color: rgb({{on_color.red}},{{on_color.green}},{{on_color.blue}});
    }
    .led{{unique_id}}_off {
      background-color: rgb({{off_color.red}},{{off_color.green}},{{off_color.blue}});
    }
  </style>

  {% if border_alarm_sensitive and pv_name %}
  <div class="disconnected" data-map="js: elementSetVisible(element, %alarm.severity%==4)"></div>
  {% end %}

  <div data-id="border"
    {% if border_alarm_sensitive and pv_name %}
    data-map="css: widget_body border_%alarm.severity% border{{unique_id}}_%alarm.severity%"
    style="width: calc(100% - {{max(4, 2*border_width if border_style.index!=0 else 0)}}px);
           height: calc(100% - {{max(4, 2*border_width if border_style.index!=0 else 0)}}px);
           display: inline-block;"
    {% else %}
    class="border{{unique_id}}_0"
    style="width: calc(100% - {{2*border_width if border_style.index!=0 else 0}}px);
           height: calc(100% - {{2*border_width if border_style.index!=0 else 0}}px);
           display: inline-block;"
    {% end %}
    >

    <button type="button" class="button button{{unique_id}}_off" 
      data-map="title: {{tooltip}};
                {% if data_type == 'bit' %}
                js: element.removeClass().addClass( ((parseInt(%valueNum%)>>{{bit}}) % 2 != 0) ? 'button button{{unique_id}}_on' : 'button button{{unique_id}}_off');
                {% else %}
                js: element.removeClass().addClass( ((%value%=={{on_state}} || %valueEnum.index%=={{on_state}}) ? 'button button{{unique_id}}_on' : 'button button{{unique_id}}_off');
                {% end %}
      "
      style="width: 100%;
             height: 100%;
             top: {{max(2 if border_alarm_sensitive else 0, border_width if border_style.index!=0 else 0)}}px;
             left: {{max(2 if border_alarm_sensitive else 0, border_width if border_style.index!=0 else 0)}}px;
             background-color: rgb({{background_color.red}},{{background_color.green}},{{background_color.blue}});
             {% if not square_button %}border-radius: 50%{% end %}
            ">
    </button>

    {% if show_led %}
    <div data-id="led led{{unique_id}}_off"
      {% if data_type == "bit" %}
      data-map="js: element.removeClass().addClass( ((parseInt(%valueNum%)>>{{bit}}) % 2 != 0) ? 'led{{unique_id}}_on' : 'led{{unique_id}}_off')"
      {% else %}
      data-map="js: element.removeClass().addClass( ((%value%=={{on_state}} || %valueEnum.index%=={{on_state}}) ? 'led{{unique_id}}_on' : 'led{{unique_id}}_off')"
      {% end %}

      style="width: 15px;
             height: 15px;
             top: calc(50% - 7px);
             left: calc(100% - 30px);
             border-radius: 50%;
             position: absolute;
             padding: 0px;
            ">
    </div>
    {% end %}

    <!--
    Actions:
    {% for action in actions %}
      {% if action.type == "OPEN_DISPLAY" %}
        Open: {{action.path}}
      {% elif action.type == "WRITE_PV" %}
        Write PV: {{action.pv_name}}={{action.value}}
      {% end %}
    {% end %}
    //-->

  </div>

</div>
