<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/webepics-opi.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui.css">

    <script src="/static/jquery.js"></script>
    <script src="/static/jquery-ui.js"></script>
    <script src="/static/webepics-opi.js"></script>
    <script>
        // URL of the WebSocket server
        var ws_url = "ws://localhost:8888/ws";

        $(function() {
            $(document).tooltip();
        });
	</script>

    <style>
    label {
        display: inline-block;
        width: 5em;
    }
    </style>
</head>

<body style="background-color: rgb({{background_color.red}},{{background_color.green}},{{background_color.blue}});">
<div class="macros">
    The predefined macros of Display:<br>
    {% for key,value in macros.toDict().iteritems() %}
      {% if key != "include_parent_macros" %}
        {{key}}={{value}}<br>
      {% end %}
    {% end %}
</div>
<div style="position: fixed; top: 0px; left: 0px;">
{% raw body %}
</div>
</body>
</html>
