<div class="widget_wrap" style="
  top: {{y}}px;
  left: {{x}}px;
  width: {{width}}px;
  height: {{height}}px;">

  <div class="widget_body" data-id="content" data-type="{{widget_type}}"
    data-map="title: {{tooltip}}"
    style="border-width: {{border_width}}px;
           border-style: {{border_style}};
           border-color: rgb({{border_color.red}},{{border_color.green}},{{border_color.blue}});
           width: calc(100% - {{4 + (border_width if border_style_index!=0 else 0)}}px);
           height: calc(100% - {{4 + (border_width if border_style_index!=0 else 0)}}px);
           text-align: {{horizontal_alignment}};
           vertical-align: {{vertical_alignment}};
           background-color: rgb({{background_color.red}},{{background_color.green}},{{background_color.blue}});
           {% if not wrap_words %}white-space: nowrap;{% end %}
          ">
    <span>{{text}}</span>
  </div>
</div>
