<div data-pv="{{pv_name}}" class="widget_wrap" style="
  top: {{y}}px;
  left: {{x}}px;
  width: {{width}}px;
  height: {{height}}px;">


  {% if border_width > 0 and border_style != 0 %}
  <style scoped>
    .border{{unique_id}}_0 {
      padding: {{max(0, 2-border_width)}}px;
      border-width: {{border_width}}px;
      {% if border_style_index == 0 %}
      border-style: {{border_style}};
      border-color: transparent;
      {% else %}
      border-style: solid;
      border-color: rgb({{border_color.red}},{{border_color.green}},{{border_color.blue}});
      {% end %}
    }
    .border{{unique_id}}_1 {
      padding: {{max(0, border_width-2)}}px;
    }
    .border{{unique_id}}_2 {
      padding: {{max(0, border_width-2)}}px;
    }
    .border{{unique_id}}_3 {
      padding: {{max(0, border_width-2)}}px;
    }
  </style>
  {% end %}

  {% if border_alarm_sensitive %}
  <div class="disconnected" data-map="js: elementSetVisible(element, %alarm.severity%==4)"></div>
  {% end %}

  <div data-id="border"
    {% if border_alarm_sensitive %}
    data-map="css: border_%alarm.severity% border{{unique_id}}_%alarm.severity%"
    style="width: calc(100% - {{max(4, 2*border_width if border_style_index!=0 else 0)}}px);
           height: calc(100% - {{max(4, 2*border_width if border_style_index!=0 else 0)}}px);
           display: inline-block;"
    {% else %}
    class="border{{unique_id}}_0"
    style="width: calc(100% - {{2*border_width if border_style_index!=0 else 0}}px);
           height: calc(100% - {{2*border_width if border_style_index!=0 else 0}}px);
           display: inline-block;"
    {% end %}
    >

    {% for state in states %}
    <div data-id="content" class="widget_body" data-type="{{widget_type}}"
      data-map="js: elementSetVisible(element, [%value%, %valueEnum.index%].includes({{state.value}})); title: {{tooltip}}"
      style="width: calc(100%);
             height: calc(100%);
             top: {{max(2 if border_alarm_sensitive else 0, border_width if border_style!=0 else 0)}}px;
             left: {{max(2 if border_alarm_sensitive else 0, border_width if border_style!=0 else 0)}}px;
             background-color: rgb({{state.color.red}},{{state.color.green}},{{state.color.blue}});
             white-space: nowrap;
             {% if not square_led %}border-radius: 50%{% end %}
            ">
        {% if show_boolean_label %}{{state.label}}{% end %}
    </div>
    {% end %}

  </div>


</div>
