<div class="widget_wrap" style="
  top: {{y}}px;
  left: {{x}}px;
  width: {{width}}px;
  height: {{height}}px;">

  <div class="widget_body" data-id="content" data-type="{{widget_type}}"
    style="border: 2px solid magenta;
           width: calc(100% - 4px);
           height: calc(100% - 4px);
           text-align: left;
           vertical-align: top;
           white-space: nowrap;
           overflow: hidden;
          ">
    <span>Unsupported widget <i>{{widget_type}}</i></span>
  </div>
</div>
